* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--light-gray);
}

main {
    height:95vh;
    display:flex;
    text-align: center;
}

.container {
    width:320px;
    height:500px;
    padding:16px;
    border-radius: 20px;;
    background-color: var(--white);
    margin:auto;
}

.qr-container {
    background-image: url("./images/image-qr-code.png");
    background-size: contain;
    width:288px;
    height:288px;
    border-radius: 10px;
}

.copy-container {
    padding:10px;
}

.copy-heading {
    color: var(--dark-blue);
    margin:.5em auto;
    font-weight: 700;
}

.copy-description {
    color: var(--grayish-blue);
    font-size: 1.05em;
    font-weight: 400;
}